---
import Layout from "../layouts/MainLayout.astro";
import { myName, introduction } from "../data";
import { Button } from "../components/ui/button";
import { MoveRight } from "lucide-react";
import EmailButton from "../components/email-button";
---

<Layout>
	<div class="flex justify-between items-center h-screen gap-12 mx-12">
		<div class="flex flex-col gap-8 max-w-7xl">
			<h1
				class="text-8xl md:text-[8rem] font-bold leading-none whitespace-nowrap"
			>
				{myName}
			</h1>
			<p class="text-xl leading-relaxed">{introduction}</p>
			<div class="flex gap-4 items-center">
				<a href="/about" class="w-fit">
					<Button>
						Learn More <MoveRight className="w-4 h-4" />
					</Button>
				</a>
				<EmailButton client:load />
			</div>
		</div>
		<div>
			<img
				src="src/assets/matthew/bodie_2020_400px.webp"
				alt="Matthew Bodie"
				class="rounded-full w-96 h-96 object-cover"
			/>
		</div>
	</div>
</Layout>
