---
import Layout from "../layouts/MainLayout.astro";
import { myName, introduction } from "../data";
import { Button } from "../components/ui/button";
import { MoveRight } from "lucide-react";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex justify-between items-center h-screen gap-12 mx-12">
		<div class="flex flex-col gap-8 max-w-7xl">
			<h1
				class="text-8xl md:text-[8rem] font-bold leading-none whitespace-nowrap"
			>
				{myName}
			</h1>
			<p class="text-xl leading-relaxed">{introduction}</p>
			<a href="/about">
				<Button className="w-fit">
					Learn More <MoveRight className="w-4 h-4" />
				</Button>
			</a>
		</div>
		<div>
			<img
				src="src/assets/matthew/bodie_2020_400px.webp"
				alt="Matthew Bodie"
				class="rounded-full w-96 h-96 object-cover"
			/>
		</div>
	</div>
</Layout>
