---
import Layout from "../layouts/MainLayout.astro";
import { myName, introduction } from "../data";
import { Button } from "../components/ui/button";
import { MoveRight } from "lucide-react";
import EmailButton from "../components/email-button";
---

<Layout>
	<div
		class="flex flex-col md:flex-row justify-between items-center min-h-screen gap-8 md:gap-12 px-4 md:px-8 py-8 max-w-full overflow-x-hidden"
	>
		<div class="flex flex-col gap-6 md:gap-8 max-w-full">
			<h1
				class="text-[5rem] md:text-[10rem] font-bold leading-tight break-words"
			>
				{myName}
			</h1>
			<p class="text-lg md:text-xl leading-relaxed -mt-2 md:-mt-4">
				{introduction}
			</p>
			<div class="flex gap-4 items-center">
				<a href="/about" class="w-fit">
					<Button>
						Learn More <MoveRight className="w-4 h-4" />
					</Button>
				</a>
				<EmailButton client:load />
			</div>
		</div>
		<div
			class="relative aspect-square w-full max-w-[16rem] md:max-w-[24rem] flex-shrink-0"
		>
			<img
				src="src/assets/matthew/bodie_2020_400px.webp"
				alt="Matthew Bodie"
				class="rounded-full w-full h-full object-cover pointer-events-none"
			/>
		</div>
	</div>
</Layout>
