---
const {
	title = "Matthew Bodie | Career Dossier and Course Research and Ramblings",
	description = "A collection of my career dossier, course research, and ramblings.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link href="/src/styles/global.css" rel="stylesheet" />
	</head>
	<body>
		<slot />
	</body>
</html>
