---
import Navbar from "../components/navbar";
import { Toaster } from "../components/ui/sonner";
const {
	title = "Matthew Bodie | Career Dossier and Course Research and Ramblings",
	description = "A collection of my career dossier, course research, and ramblings.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="/src/styles/global.css" rel="stylesheet" />
	</head>
	<body>
		<Toaster client:load />
		<Navbar client:load />
		<slot />
	</body>
</html>
